In [4]:
# Tuple -> Fixed Lenght, Immutable
tup = (4, 5, 6)
tup1 = ('s','h','o','p')
tup1[0]

's'

In [5]:
tup3 = tuple('board')
tup3

('b', 'o', 'a', 'r', 'd')

In [6]:
nested_tup = (4,5,6),(7,8)
nested_tup

((4, 5, 6), (7, 8))

In [7]:
tup4 = ('foo','bar')
tup4 * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

In [9]:
# List -> Mutable. Using []

list1 = [2,3,4,None]
tup5 = ('cat','dog','pig')
list1

[2, 3, 4, None]

In [10]:
list1.append('star')
list1

[2, 3, 4, None, 'star']

In [12]:
gen = range(10)
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [14]:
# Sorting
a = [7,3,6,76,23,56,3]
a.sort()
a

[3, 3, 6, 7, 23, 56, 76]

In [15]:
# Slicing
seq = [7,2,3,4,5,6,62]
seq[0:3]

[7, 2, 3]

In [20]:
#Dictionary
empty_dict = {}
d1 = {'a' : "some value", "b" : [1,2,3,4]}
d1['a']

'some value'

In [22]:
d1[5] = "just added this value"
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 5: 'just added this value'}

In [24]:
words = ['apple','bat','bar','atom','book']
by_letter = {}  # dictionary

for word in words:
    letter = words[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)

In [25]:
by_letter

{'apple': ['apple', 'bat', 'bar', 'atom', 'book']}

In [28]:
hash("string")

-7788878323513313518

In [30]:
# Set -> Unordered Collection. Unique Elements
{2,6,3,2,4,5}

{2, 3, 4, 5, 6}